<!DOCTYPE html>
<html>
  <head>
    <title><%= Rails.application.config_for(:settings)["loja"]["nome"] rescue 'DeliveryApp' %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload", media: "all" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/branding/header" %>
    <div class="container mt-4">
      <%= yield %>
    </div>
  </body>
</html>
